<!DOCTYPE html>
{% load socialaccount %}
{% providers_media_js %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</head>
    <body>
    sssssssssssssssss
    <img src="{{user.socialaccount_set.all.0.get_avatar_url}}"/>
            {{user.socialaccount_set.all.0.uid}} <br/>
            {{user.socialaccount_set.all.0.uid}}

            <div id="paginas"></div>
            <button onclick="percorrePagina()"> asdasd</button>
    </body>


    <script>
        var token = ""

              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '3168204459867563',
                  cookie     : true,
                  xfbml      : true,
                  version    : 'v6.0'
                });
                FB.AppEvents.logPageView();
              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "https://connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));

            function statusChangeCallback(response) {
                 if (response.status === 'connected') {
                     alert('connected')
                    alert(response.authResponse.accessToken)
                    token = (response.authResponse.accessToken)
                    console.log("Usuário Autorizado.");
                    testAPI();
                 } else {
                    console.log("Não Autorizado");
                 }
            }

            function checkLoginState() {
                FB.getLoginStatus(function(response) {
                  statusChangeCallback(response);
                });
            }

            function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('me?fields=likes.limit(10){picture,fan_count,link,name},name,id', function(response) {
                  if(response){
                    console.log(response);
<!--                    percorrePagina(response);-->
                  }
                });
            }







            function percorrePagina(){
                pagina = document.getElementById('paginas');
                pagina.innerHTML =  "oiiiiiiiiiiiii"
                    alert("token")
<!--                var token = "4addbc51e15085fecee1e617ba64df46";-->
    <!--            var token = "dc3af6c44e36165c15dda0ba4506dca6";-->
                    alert(token)
<!--                FB.api(-->
<!--                    '/3355045127841432/friends',-->
<!--                    'GET',-->
<!--                    {},-->
<!--                    function(response) {-->
<!--                        // Insert your code here-->
<!--                        pagina = document.getElementById('paginas');-->
<!--                        pagina.innerHTML += response-->
<!--                        pagina.innerHTML += response.error.message-->

<!--                         for(var i = 0; i < response.data.length; i++){-->
<!--                                    console.log("sss");-->
<!--                                  pagina.innerHTML +=  "a"-->
<!--                         }-->
<!--                    },  {access_token: token}-->
<!--                );-->

                FB.api('/3355045127841432/groups', function(response){
                     Data = response.name;
                     alert(Data);
                     if (response.error) {
                        alert(response.error.message);
                     }
                }, {access_token: token});
            }
<!--        checkLoginState();-->

    </script>

</html>